<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人信息设置</title>
		<link rel="stylesheet" href="../../css/com.css" />
		<link rel="stylesheet" href="../../fonts/7-stroke/7-stroke.css" />
		<link rel="stylesheet" href="../../fonts/font-awesome/font-awesome.css" />
		<link rel="stylesheet" href="../../fonts/glyphicons/glyphicons.css" />
		<link rel="stylesheet" href="../../fonts/ionicons/ionicons.css" />
		<link rel="stylesheet" href="../../fonts/material-design/material-design.css" />
		<link rel="stylesheet" href="../../fonts/mfglabs/mfglabs.css" />
		<link rel="stylesheet" href="../../fonts/octicons/octicons.css" />
		<link rel="stylesheet" href="../../fonts/open-iconic/open-iconic.css" />
		<link rel="stylesheet" href="../../fonts/themify/themify.css" />
		<link rel="stylesheet" href="../../fonts/weather-icons/weather-icons.css" />
		<link rel="stylesheet" href="../../fonts/web-icons/web-icons.css" />
		<!--<link rel="stylesheet" type="text/css" href="../lib/css/tooltip.css"/>-->
		<link rel="stylesheet" href="../../lib/css/imgPlugin.css" />
		<link rel="stylesheet" href="../../css/userSetting.css" />
	</head>

	<body>
		<!--头部-->
		<header>
			<div class="logo"></div>
			<div class="user-operate" id="headerMenu">
				<!--<span><i class="icon wb-user"></i>个人设置</span>
				<span class="username" onclick="$('.hint-windows').show()"><i class="icon fa-sign-out " ></i>用户名</span>-->
			</div>
		</header>

		<!--菜单-->
		<div class="menu" id="menuList">

		</div>

		<!--通道管理-->
		<section class="main" id="mainContainer" v-cloak>
			<div class="container">
				<span class="bigtitle">个人信息设置</span>
				<div class="pop-body">
					<form name="form" id="orderForm">
						<div class="pop-col">
							<div style="width: 96%;">
								<p>旧密码</p>
								<input class="input" id="oldPsd" autocomplete="off" name="oldPsd" v-model="oldPsd" onkeyup="verifyFrom(this)" />
								<span class="error-hint-text" style="position: relative;">输入旧密码</span>
							</div>

						</div>
						<div class="pop-col">
							<div style="width: 96%;">
								<p>新密码</p>
								<input class="input" id="newPsd" autocomplete="off" name="newPsd" v-model="newPsd" onkeyup="verifyFrom(this)" />
								<span class="error-hint-text" style="position: relative;">输入新密码</span>
							</div>

						</div>
						<div class="pop-col">
							<div style="width: 96%;">
								<p>确认新密码</p>
								<input class="input" id="againPsd" autocomplete="off" name="againPsd" v-model="againPsd" onkeyup="verifyFrom(this)" />
								<span class="error-hint-text" style="position: relative;">请确认新密码</span>
							</div>

						</div>

					</form>
				</div>
				<div class="pop-footer" style="margin-top: 20px;">
					<button class="pop-submit-user" onclick="postPeople()">提交</button>
				</div>
			</div>

			<!-- 提示弹窗-->
			<div class="pop-up-windows hint-windows exit">
				<div class="shadow-window" onclick="$('.exit').hide()"></div>
				<div class="vertical-center success" style="left: 54%;">
					<div class="title">
						<i class="icon wb-bell hint-icon"></i>
						<span>你确定退出当前用户？</span>
						<i class="icon wb-close close-pop" onclick="$('.exit').hide()"></i>
					</div>
					<div class="pop-button">
						<span class="confirm-btn" onclick="loginout()">确定</span>
						<span class="cancle-btn" onclick="$('.exit').hide()">取消</span>
					</div>
				</div>
			</div>
			<!-- 提示弹窗  end-->
			<!--登录提示-->
			<div id="loginHint" class="notice-model">
				<i class="icon  wb-info-circle"></i>
				<span></span>
			</div>

		</section>

		<script type="text/javascript" src="../../lib/jquery-2.0.1.min.js"></script>
		<script type="text/javascript" src="../../lib/laydate/laydate.js"></script>
		<script type="text/javascript" src="../../lib/yfslPageControl.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap.js"></script>
		<script type="text/javascript" src="../../js/Utils.js"></script>
		<script type="text/javascript" src="../../js/com.js"></script>
		<script src="../../lib/vue.js"></script>
		<script type="text/javascript" src="../../js/userSetting.js"></script>
	</body>

</html>